/* -----------------------------
   colors used
   -----------------------------
    #000000
    #020203
    #4d84c4
    #a51c30
    #f5f5f8
    #ebebeb
    #ffffff
    
    You can see the color palette (minus the white and black) at: 
    https://coolors.co/a51c30-4d84c4-020203-ebebeb-f5f5f8
*/

/* -----------------------------
   fonts used
   -----------------------------
Note that Roboto and "Roboto Condensed" are available from the linked fonts already in the HTML

font-family stack for most things:
    Roboto, Arial, sans-serif;

font-family stack for 'condensed' elements, such as hX headings, header navigation, and links in the 'Explore'  section:
    'Roboto Condensed', Arial, sans-serif;
   -----------------------------  */

/* -----------------------------
   background images used
   -----------------------------
../images/hes_shield_wordmark.svg   - This is the HES Shield and HES Wordmark
../images/campus_bridge_river.jpg   - This is the background image for the 
                                      "Explore" section
../images/arrow-right.svg    - This is the crimson arrow next to the 
                                      hypertext links in the "Explore" sections
../images/mortar-board.svg          - The "cap" in Student Success stories 'program'
../images/map-marker.svg            - The map marker in Student Success 
                                      stories 'hometown'

   -----------------------------  */
* {
      margin: 0;
      padding: 0;
 }

 body {
    font-family: Roboto, Arial, sans-serif;
}

/* turn off sections you aren't working on so you can focus!
   I suggest you begin with working on the "footer"
*/
/* consider uncommenting this to start so that only the footer is visible! */
/*
div.explore,
div.studentsuccess,
header
{
    display: none;
}
*/

/* -----------------------------
   Styles for footer
   ----------------------------- */
   footer {
      background-color: black;
      color: white;
      padding: 1rem 0 1rem 1rem;
   }
   
   footer nav,
   footer p {
      margin-bottom: 1rem;
   }
   
   footer nav ul {
      list-style: none;
   }
   
   footer nav ul li {
      display: inline;
   }
   
   footer nav a:link,
   footer nav a:visited,
   footer nav a:hover,
   footer nav a:active
   {
      color: white;
      text-decoration: none;
   }
   
   footer nav.contactplus ul li {
      padding-right: 2.5rem;
   
   }
   
   footer nav.contactplus a {
      font-weight: bold;
   }
   
   footer nav.privacyplus li {
      border-right: thin solid white;
      padding: 0 1rem;
   }
   
   footer nav.privacyplus li:first-child {
      padding-left: 0;
   }
   
   footer nav.privacyplus li:last-child {
      border-right: none;
   }
   
/* ----------------------------- */

/* -----------------------------
   Styles for header
   ----------------------------- */

/* ----------------------------- */


/* -----------------------------
   Styles for header primary nav
   ----------------------------- */

/* ----------------------------- */


/* -----------------------------
   Styles for header primary nav
   ----------------------------- */

/* ----------------------------- */


/* -----------------------------
   Styles for header secondary nav
   ----------------------------- */

/* ----------------------------- */


/* -----------------------------
   Styles for "Explore"
   ----------------------------- */

/* ----------------------------- */

/* -----------------------------
   Styles for "Student Success"
   ----------------------------- */

/* ----------------------------- */
